#BattleScreenRoute{
    top: 0%;
    left: 100px;
    position: absolute;

}

#RulesRoute{
    top: 0%;
    left: 200px;
    position: absolute;
}

#TypeRoute{
    top: 0%;
    position: absolute;
    left: 300px;
}